---
const {title, text} = Astro.props
import {Image} from 'astro:assets'
import  GrowTogether from '../images/illustration-grow-together.svg'
---

<section class=
"flex items-center justify-center 
max-w-[375px]
sm:max-w-[640px]
">
    <div class=
    "my-10 w-11/12 
    border rounded-2xl 
    ring-8 ring-slate-200/20
    text-center
    ">
    <div class="flex items-center justify-center pt-12">
        <Image class=
        "h-4/5 w-4/5" 
        src={GrowTogether} 
        alt="grow-together"/>
    </div>
        <h2 class=
        "pt-12 pb-5 text-2xl font-bold"
        >{title}</h2>
        <p class=
        "pb-12 px-4 text-lg font-normal text-[#808d99]">{text}</p>
    </div>
</section>

<style>
 h2,p{
    font-family: "Open Sans", sans-serif;
 }
</style>


    
