---
const {title, text} = Astro.props
---
<section class=
"
w-[340px]
mx-5
absolute
border rounded-2xl ring-8 ring-slate-200/20
text-center  
max-w-[375px] top-[2710px] z-10
bg-white
sm:max-w-[640px]
sm:top-[3080px]
sm:w-[599px]
md:max-w-[768px]
md:top-[1760px]
md:mx-16
lg:mx-52
lg:top-[1800px]
xl:top-[2020px]
xl:mx-80
">
<div class=
"
flex flex-col items-center justify-center
">
    <h3 class=
    "pt-12 pb-5 text-xl font-semibold"
    >{title}</h3>
    <button class=
    "mb-12 py-3 px-12 text-white font-medium
     rounded-3xl
     shadow-xl 
    bg-[#ff52bf] hover:opacity-50">{text}</button>
</div>
</section>


<style>
    h3,p{
        font-family: "Open Sans", sans-serif;
    }
</style>
