<footer class="bg-gray-800 text-blue-200">
    <div>
        <img src="" alt="logo">
    </div>
    <article>
        <section>
            <div>
                <img src="" alt="lugar">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                incididunt ut labore et dolore magna aliqua
            </p>
            </div>
            <div>
                <img src="" alt="">
            <p>+1-543-123-4567</p>
            </div>
            <div>
            <img src="" alt="">
            <p>example@huddle.com</p>
            </div>
        </section>
        <section>
            <ul>
                <li>About Us</li>
                <li>What We Do</li>
                <li>FAQ</li>
                <li>Career</li>
                <li>Blog</li>
                <li>Contact Us</li>
            </ul>
        </section>
        <section>
            <div>
                <img src="" alt="facebook">
                <img src="" alt="x-twitter">
                <img src="" alt="instagram">
            </div>
        </section>
    </article>
</footer>

  
  

  
  
  